<div class="shadow-lg p-2 my-4">
  <h1 class="text-center">Item</h1>
  <form [formGroup]="itemForm" (ngSubmit)="crearItem()">
    <div class="mb-3">
      <label for="exampleInputNombre" class="form-label">Nombre del Item</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputNombre"
        aria-describedby="nombreHelp"
        formControlName="NOMBRE_DEL_ITEM"
      />
      <div id="nombreHelp" class="form-text">Ingrese el nombre del Item</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputTarea" class="form-label">Tarea</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputTarea"
        aria-describedby="tareaHelp"
        formControlName="TAREA"
      />
      <div id="tareaHelp" class="form-text">Ingrese la tarea</div>
    </div>
    <button type="submit" class="btn btn-success w-100">Agregar</button>
  </form>
</div>

<table class="table shadow-lg p-2 my-4">
  <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del Item</th>
      <th scope="col">Tarea</th>
      <th scope="col" class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.NOMBRE_DEL_ITEM }}</td>
      <td>{{ item.TAREA }}</td>
      <td class="text-center">
        <button (click)="selectItem(item)" class="btn btn-success mx-2">
          <i class="bi bi-eye"></i>
        </button>
        <button (click)="editarItem(item)" class="btn btn-primary mx-2">
          Editar
        </button>
        <button (click)="eliminarItemModal(item)" class="btn btn-danger mx-2">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
